<h1> Task List </h1>

<% @tasks.each do |task| %>
<div class="task_wrapper">
  <h2 class="title"><%= link_to task.title, user_task_path(@user, @tasks) %></h2>
  <p class="date">Created: <%= task.created_at.strftime("%A, %B %d, %Y")%></p>
</div>
<% end %>

<p id="notice"><%= notice %></p>
<%= link_to "New Task", new_user_task_path(@user) %>
