.banner{
  background-image: url("desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: table;
  width: 100%;
  min-height: 500px;
}
.banner-content{
  text-align: center;
}
